<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar</title>
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/estilon.css')}}"> 
</head>
<body>
    <h1>EDITAR PRODUCTO</h1>
    <br>
    <form action="{{url_for('editar', id=producto.id)}}" method="post">
        <div class="container">
            <div class="card">
                <h2>Datos del Producto</h2>
                Nombre: <input type="text" name="nombre" required value="{{producto['nombre']}}"><br>
                Cantidad: <input type="number" name="cantidad" required value="{{producto['cantidad']}}"><br>
                Precio: <input type="number" name="precio" required step="0.01" value="{{producto['precio']}}"><br>
                Fecha de Vendimiento: <input type="date" name="fecha_vencimiento" required value="{{producto['fecha_vencimiento']}}"><br>
                <br>
                Categoria: <select name="categoria" required >
                    <option value="Bebida" {% if producto['categoria'] == 'Bebida' %}selected{% endif %}>Bebida</option>
                    <option value="Comida" {% if producto['categoria'] == 'Comida' %}selected{% endif %}>Comida</option>
                    <option value="Herramienta" {% if producto['categoria'] == 'Herramienta' %}selected{% endif %}>Herramienta</option>
                    <option value="Medicamento" {% if producto['categoria'] == 'Medicamento' %}selected{% endif %}>Medicamento</option>
                    <option value="Material" {% if producto['categoria'] == 'Material' %}selected{% endif %}>Material</option>
                </select>
            </div>
        </div>
        <input type="submit" value="Actualizar Producto">
    </form>
    <br>
</body>
</html>